body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f9;
	color: #333;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}
h1 {
	font-size: 2.5rem;
	color: #0077ff;
	margin-bottom: 20px;
}
a {
	display: inline-block;
	margin: 0 10px;
	padding: 10px 20px;
	font-size: 1.2rem;
	color: white;
	background-color: #0077ff;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s;
}
a:hover {
	background-color: #005fcc;
}
